@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Courgette');

h1,  h2,  h3,  h4,  p,  ul,  li{
  padding: 0;
  margin: 0;
}

body{
    width: 100%;
    background-color: $grey;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
    @media (min-width: $tablet-width){
      font-size: 20px;
    }
}
header{
  width: 100%;
  min-height: 7vh;
  background-color: $blue;
}

.app-container{
  width: 98%;
  display: flex;

  margin: 0 auto;
  position: relative;
}

.notes-field{
  width: 100%;
  margin-left: 0 5px;
  border: 3px solid green;
  @media (min-width: $tablet-width){
    margin-left: 0 30px;
  }
  @media (min-width: $desktop-width){
    width: 80%;
    margin-left: 0 60px;
  }
}

.btn{
  display: block;
  padding: 1vh 1vh;
  box-shadow: 0 0 3px 0 hsla(0, 0%, 62%, .5);
  border-radius: 5px;
  border: none;
  margin-left: auto;
  background-color: #0fd4cb;
  font-size:  14px;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;
  &:hover{
    background-color: $dark-blue;
  }
}

.add-btn{
  display: block;
  padding: 1vh 1vh;
  background-color: white;
  border: none;
  margin-right: auto;
  font-size:  0.9em;
  color: $blue;
  cursor: pointer;
  font-style: italic;
  &:hover{
    color: $dark-blue;
  }
}

.text_btn{
  text-transform: uppercase;
  text-align: right;
  border: none;
  font-size: 0.8em;
  background-color: $white;
  color: $blue;
  margin-left: 60%;
  &:hover{
    color: $dark;
  }
}
