$grey: #eaeaea;
$blue: #0fd4cb;
$dark-blue: #078a9e;
$dark: #073c40;
$bg-hover: rgba($blue, 0.4);
$bg-active: rgba($dark-blue, 0.4);
$tablet-width: 768px;
$desktop-width: 1366px;
$white: white;
$mobile-width-only: 767px;
$tablet-width-only: 1199px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$shadow: 1px 1px 8px 2px rgba(0,0,0,0.80);
